<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo socketio</title>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io('http://localhost:8080');
    </script>
    <script>
        socket.on('server-send-data-bg',(data) => {
           
            $('body').attr('bgColor',data)
        })
        $(document).ready(function(){
            $("#red").click(function(){
                socket.emit('background','red')
            });
            $("#green").click(function(){
                socket.emit('background','green')
            });
            $("#yellow").click(function(){
                socket.emit('background','yellow')
            });
        });
    </script>
    <style>

    </style>
</head>
<body>
    
    <button id="red">RED</button>
    <button id="green">GREEN</button>
    <button id="yellow">YELLOW</button>
    
    
</body>
</html>